body {
  font-family: 'Lato', sans-serif;
}

input {
	width: 200px;
}

#screenshot-area {
	
	width: 780px;
	height: 520px;

	/* 中央寄せ */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	/* 背景 */
	background: linear-gradient(to left top, #05FBFF, #1E00FF);

	/* フォント */
	font-size: 60px;
	color: white;
}

.fa {
  font-size: 70px;
}

.devicons {
  font-size: 90px;
}
